body 
{
    margin:0;
    padding:0;
    background-image: url("background.png");
    font-family: Verdana, Geneva, sans-seri;
    font-size: 8pt;
}

#Banner
{
    background-image: url("bannerrbg.png");
    text-align:center;
}
#Content
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 4px solid grey;
    position: relative;
    overflow: hidden;
}

#Movie-Despription
{
    font-size: 24pt;
    font-family:"Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
}


#Overview
{
    width:250px;
    float:right;
    background-color:#A2B964;
}

#text-description
{
    font-family:"Arial";
    padding:10px;
    padding-top:0px;

}
.page1
{
	font-size: 10pt;
	text-align:center;
	font-weight:normal;
	color:black;
    position:relative;
    background-color: #A2B964;
    padding:5px;
    top: 675px;
    width:550px;

}
#LeftSection
{
    width:550px;
    position:relative;
    float:left;
}

.StyleBold
{
    font-weight: bold;
    padding-top:5px;
}


#RottenAlign
{
    background-image:url("rottenbackground.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;
    height: 83px;
    vertical-align: bottom;

}

#RottenAlign img
{
    float: left;
    margin-right: 5px;
}
.ReviewColumn
{
    width: 47%;
    float: left;
    margin-left: 2%;
}

.ReviewsTotal
{
	color: white;
	font-size: 8pt;
	font-weight:normal;
}

.Review
{
    font-size: 8pt;
    background-color: #E8DC9B;
    font-weight: bold;
    border: 2px solid grey;
    padding: 8px;
    overflow: hidden;
    position: relative;

}
.ReviewCounts
{
    background-color: #A2B964;
    padding:5px;
    position: absolute;
    bottom:-128px;
    width: 550px;
    text-align: center;

}
.ReviewerInfo
{
    padding-top: 5px;
    padding-bottom: 20px;

}

.ReviewerInfo span
{
    font-style: italic;
}


p img
{ 
    padding-right: 5px;
    float: left;

}

#Position
{
    position: fixed;
    right:0;
    bottom:0;
	opacity: 1;
}
