body 
{
    background-image: url("background.png");
    font-family: Verdana, Geneva, sans-seri;
    font-size: 8pt;
}

#Banner
{    
	text-align:center;
    background-image: url("bannerrbg.png");
}
#content
{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 4px solid grey;
    position: relative;
    overflow: hidden;
}


#overview
{
    width:250px;
    float:right;
    background-color:#A2B964;
}

#Movie
{
    font-size: 24pt;
    font-family:"Verdana", sans-serif;
    text-align: center;
    font-weight: bold;
}

#description
{
    font-family:"Arial";
    padding:10px;
    padding-top:0px;

}
.page
{
	font-size: 10pt;
	text-align:center;
	font-weight:normal;
	color:black;
    position:relative;
    background-color: #A2B964;
    padding:5px;
    top: 675px;
    width:550px;

}
#LeftSection
{
    width:550px;
    position:relative;
    float:left;
}

.list
{
    font-weight: bold;
    padding-top:5px;
}


#align
{
    background-image:url("rottenbackground.png");
    font-size: 48pt;
    color: red;
    font-weight: bold;
    height: 83px;
    vertical-align: bottom;

}

#align img
{
    float: left;
    margin-right: 5px;
}
.column
{
    width: 47%;
    float: left;
    margin-left: 2%;
}

.Review
{
    font-size: 8pt;
    background-color: #E1D697;
    font-weight: bold;
    border: 2px solid grey;
    padding: 8px;
    overflow: hidden;
    position: relative;

}
.total
{
	color: white;
	font-size: 8pt;
	font-weight:normal;
}
.info
{
    padding-top: 5px;
    padding-bottom: 20px;

}

.info span
{
    font-style: italic;
}


p img
{ 
    padding-right: 5px;
    float: left;

}

#Validator
{
    position: fixed;
    right:0;
    bottom:0;
	opacity: 1;
}
